<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyfx.total.mapper.AreaMapper">
    <resultMap id="BaseResultMap" type="com.wyfx.total.entity.Area">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="areaname" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="parentid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="shortname" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="lng" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="lat" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="level" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="position" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sort" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, areaname, parentid, shortname, lng, lat, level, position, sort
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from area
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--2019-11-13-->
    <select id="selectListByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from area
        where parentid = #{parentId,jdbcType=INTEGER}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from area
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wyfx.total.entity.Area">
        insert into area (id, areaname, parentid,
        shortname, lng, lat,
        level, position, sort
        )
        values (#{id,jdbcType=INTEGER}, #{areaname,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER},
        #{shortname,jdbcType=VARCHAR}, #{lng,jdbcType=VARCHAR}, #{lat,jdbcType=VARCHAR},
        #{level,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.wyfx.total.entity.Area">
        insert into area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="areaname != null">
                areaname,
            </if>
            <if test="parentid != null">
                parentid,
            </if>
            <if test="shortname != null">
                shortname,
            </if>
            <if test="lng != null">
                lng,
            </if>
            <if test="lat != null">
                lat,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="position != null">
                position,
            </if>
            <if test="sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="areaname != null">
                #{areaname,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
            <if test="shortname != null">
                #{shortname,jdbcType=VARCHAR},
            </if>
            <if test="lng != null">
                #{lng,jdbcType=VARCHAR},
            </if>
            <if test="lat != null">
                #{lat,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="position != null">
                #{position,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wyfx.total.entity.Area">
        update area
        <set>
            <if test="areaname != null">
                areaname = #{areaname,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null">
                parentid = #{parentid,jdbcType=INTEGER},
            </if>
            <if test="shortname != null">
                shortname = #{shortname,jdbcType=VARCHAR},
            </if>
            <if test="lng != null">
                lng = #{lng,jdbcType=VARCHAR},
            </if>
            <if test="lat != null">
                lat = #{lat,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="position != null">
                position = #{position,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wyfx.total.entity.Area">
        update area
        set areaname = #{areaname,jdbcType=VARCHAR},
        parentid = #{parentid,jdbcType=INTEGER},
        shortname = #{shortname,jdbcType=VARCHAR},
        lng = #{lng,jdbcType=VARCHAR},
        lat = #{lat,jdbcType=VARCHAR},
        level = #{level,jdbcType=INTEGER},
        position = #{position,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>