<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyfx.total.mapper.ProjectsMapper">
    <resultMap id="BaseResultMap" type="com.wyfx.total.entity.Projects">
        <constructor>
            <idArg column="pid" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="project_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="project_address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="business_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        pid, project_name, project_address, status, business_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from projects
        where pid = #{pid,jdbcType=BIGINT}
    </select>


    <!--通过地址模糊查询-->
    <select id="selectByAddressAndBusinessId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from projects
        <where>
            <if test="address != null">
                project_address like concat('%',#{address,jdbcType=VARCHAR},'%')
            </if>
            <if test="status != null">
                and status=#{status,jdbcType=INTEGER}
            </if>
            <if test="businessId != null">
                and business_id =#{businessId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from projects
        where pid = #{pid,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.wyfx.total.entity.Projects">
        insert into projects (pid, project_name, project_address,
        status, business_id)
        values (#{pid,jdbcType=BIGINT}, #{projectName,jdbcType=VARCHAR}, #{projectAddress,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER}, #{businessId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.wyfx.total.entity.Projects">
        insert into projects
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                pid,
            </if>
            <if test="projectName != null">
                project_name,
            </if>
            <if test="projectAddress != null">
                project_address,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="businessId != null">
                business_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                #{pid,jdbcType=BIGINT},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectAddress != null">
                #{projectAddress,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="businessId != null">
                #{businessId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wyfx.total.entity.Projects">
        update projects
        <set>
            <if test="projectName != null">
                project_name = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectAddress != null">
                project_address = #{projectAddress,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="businessId != null">
                business_id = #{businessId,jdbcType=VARCHAR},
            </if>
        </set>
        where pid = #{pid,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wyfx.total.entity.Projects">
        update projects
        set project_name = #{projectName,jdbcType=VARCHAR},
        project_address = #{projectAddress,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        business_id = #{businessId,jdbcType=VARCHAR}
        where pid = #{pid,jdbcType=BIGINT}
    </update>
</mapper>