<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyfx.business.dao.MenuManagerMapper">
    <resultMap id="BaseResultMap" type="com.wyfx.business.entity.MenuManager">
        <constructor>
            <idArg column="mid" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="parent_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="order_num" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="modify_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
        mid, parent_id, name, url, type, order_num, create_time, modify_time
    </sql>
    <sql id="Blob_Column_List">
        remark
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from meun_manager
        where mid = #{mid,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from meun_manager
        where mid = #{mid,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.wyfx.business.entity.MenuManager">
        insert into meun_manager (mid, parent_id, name,
        url, type, order_num,
        create_time, modify_time, remark
        )
        values (#{mid,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.wyfx.business.entity.MenuManager">
        insert into meun_manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mid != null">
                mid,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mid != null">
                #{mid,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wyfx.business.entity.MenuManager">
        update meun_manager
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where mid = #{mid,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wyfx.business.entity.MenuManager">
        update meun_manager
        set parent_id = #{parentId,jdbcType=BIGINT},
        name = #{name,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        order_num = #{orderNum,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
        remark = #{remark,jdbcType=LONGVARCHAR}
        where mid = #{mid,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wyfx.business.entity.MenuManager">
        update meun_manager
        set parent_id = #{parentId,jdbcType=BIGINT},
        name = #{name,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        order_num = #{orderNum,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where mid = #{mid,jdbcType=BIGINT}
    </update>

    <resultMap id="selectMap" type="com.wyfx.business.entity.MenuManager">
        <constructor>
            <idArg column="mid" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="parent_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="order_num" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <select id="selectByParentIdAndBid" resultMap="selectMap">
        SELECT
        meun_manager.mid,
        meun_manager.parent_id,
        meun_manager.`name`,
        meun_manager.type,
        meun_manager.order_num
        FROM
        meun_manager
        WHERE
        meun_manager.type = #{type}
        AND meun_manager.parent_id = #{parentId}
        AND meun_manager.mid IN (
        SELECT DISTINCT
        role_menu.menu_id
        FROM
        role_menu
        INNER JOIN user_role ON (
        user_role.role_id = role_menu.role_id
        )
        INNER JOIN business_user ON (
        business_user.bid = user_role.user_id
        )
        WHERE
        business_user.bid = #{bid}
        )
        ORDER BY
        meun_manager.mid,
        meun_manager.order_num
    </select>
    <select id="selectByParentIdAndBidForSub" resultMap="selectMap">
        select m.mid,m.parent_id,m.name,m.type,m.order_num from meun_manager m
        where m.type=#{type} and m.parent_id=#{parentId} and m.mid in (
        select DISTINCT rm.menu_id from role_menu rm
        left join role r on (r.role_id=rm.role_id)
        left join user_role ur on (ur.role_id=r.role_id)
        LEFT JOIN business_user u on (u.bid=ur.user_id)
        where u.user_name=(select create_person from business_user where bid=#{bid})
        )
        order by m.mid,m.order_num
    </select>

    <select id="selectByParentId" resultMap="BaseResultMap">
        select m.* from meun_manager m
        where m.type=#{type} and m.parent_id=#{parentId}
        order by m.mid,m.order_num
    </select>

    <select id="selectByFunctionRemark" resultType="int">
        select mid from meun_manager
        where remark='function:config'
    </select>

</mapper>